<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  a {
    text-decoration: none;
  }
</style>
<footer class="footer fixed-bottom" style="background-color: rgb(26, 25, 25); padding-top: 0.5em">
  <p class="text-center">
    <a href="https://www.instagram.com" class="fa fa-instagram" style="font-size: xx-large;color:white"></a>
    <a href="https://www.facebook.com" class="fa fa-facebook-square" style="font-size: xx-large;color:white"></a>
  </p>
</footer>