<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Damian Kaplon">
    <title>Offer</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/logos/favicon.png}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/btnlinkdisable.css}" href="../static/css/btnlinkdisable.css"/>

    <style>
      section {
        padding-top: 6em;
      }
      .album {
        margin-bottom: 4em;
      }
    </style>
  </head>

  <body>

    <nav th:replace="/common/navbar.html"></nav>

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">This is our collection!</h1>
          <p class="lead text-muted">
            Here is our huge volume! You can see, wide variety of services we offer. You will surely find something
            to treat yourself. Go ahead, take a look, see the detailed view and set the appointment!
          </p>
          <p>
            <a href="#" class="btn btn-primary my-2 border-bottom">Make an appointment</a>
            <a sec:authorize="hasAuthority('WRITE_PRIVILEGE')" th:href="@{/treatment/add}" class="btn btn-secondary my-2">Add treatment</a>
          </p>
          <form action="#" th:action="@{/treatment/search}" method="post" th:object="${searchForm}" class="input-group">

              <select th:field="*{chosenType}" class="btn btn-outline-primary" style="border-radius: 0.2em">
                <option value="" selected="selected" disabled hidden>Choose type</option>
                <option th:each="type : ${types}"
                      th:value="${type}"
                      th:text="${type}"></option>
              </select>

            <input type="text" th:field="*{name}" id="search-input" class="form-control rounded" placeholder="Search" aria-label="Search"/>
            <button type="submit" id="search-btn" class="btn btn-outline-primary">search</button>
          </form>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4" th:each="dto: ${dtoPage.content}">
              <div class="card mb-4 box-shadow">

                <img th:if="${dto.getImagesSrcs().size() > 0}" class="card-img-top" th:src="@{${dto.getImagesSrcs.get(0)}}"
                     style="height: 15em; max-width: inherit;" alt="Treatment image" />
                <img th:if="${dto.getImagesSrcs().size() <= 0}" class="card-img-top" style="height: 15em; max-width: inherit;" alt="Treatment image" />

                <div class="card-body">
                  <p class="card-text" th:text="*{dto.name}" style="font-weight: bold"></p>
                  <p class="card-text" th:text="*{dto.shortDescription}" style="width: 100%; height: 10em"></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">
                        <a th:href="@{'/treatment/uuid/' + *{dto.uuid}}">View</a>
                      </button>
                      <button type="button" sec:authorize="hasAuthority('WRITE_PRIVILEGE')"
                              class="btn btn-sm btn-outline-secondary">
                        <a th:href="@{'/treatment/uuid/' + *{dto.uuid} + '/edit'}">Edit</a>
                        <form th:action="@{'/treatment/uuid/' + *{dto.uuid} + '/delete'}" method="post">
                          <button type="submit" sec:authorize="hasAuthority('WRITE_PRIVILEGE')"
                                  class="btn btn-sm btn-outline-secondary">
                              Delete
                          </button>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div th:if="${dtoPage.totalPages > 0}" class="justify-content-center">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a th:if="${dtoPage.number - 1 >= 0}" th:href="@{/treatment(page=${dtoPage.number - 1})}"
                   th:text="Prev"
                   class="page-link"></a>
              </li>
              <li th:each="pageNumber : ${pageNumbers}"
                  th:class="'page-item'+${pageNumber==(dtoPage.number + 1) ? ' active' :''}">
                <a th:href="@{/treatment(page=${pageNumber})}"
                   th:text="${pageNumber}"
                   class="page-link"></a>
              </li>
              <li class="page-item">
                <a th:if="${dtoPage.number + 2 <= dtoPage.totalPages}" th:href="@{/treatment(page=${dtoPage.number+1})}"
                   th:text="Next"
                   class="page-link"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <footer th:replace="/common/footer.html"></footer>

    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"> </script>
    <script>
      document.getElementById("search-btn").addEventListener("click", redirect);
      function redirect() {
        var searched = document.getElementById("search-input").value;
        location.replace("/treatment/name/" + searched);
      }
    </script>
  </body>
</html>